#root {
  text-align: center;
}

a {
  position: relative;
  z-index: 2;
}

.pfp {
  object-fit: cover;
  height: 6em;
  aspect-ratio: 1 / 1;
  margin-left: 1rem;
  border: solid 3px darkcyan;
  border-radius: 50%;
}
