img {
    position: relative;
}

.titleWrapper {
    width: 100%;
}

.titleWrapper h1 {
    border: solid 1px palevioletred;
}

.creditBox {
  position: absolute;
  top: 10rem;
  width: 99%;
  padding-right: 1%;
  display: flex;
  justify-content: flex-end;
  z-index: -1;
}

.creditBox a {
    margin-right: 1em;
}

.formStyle {
    position: relative;
    display: grid;
    place-items: center;
}

.setSize {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: min(2.5%, 2rem);
    margin-bottom: 1.5rem;
}

.setSize input {
    width: 12rem;
    font-size: 2em;
}

.setSize label {
    margin-right: 5px;
}

.setSize label:last-of-type {
    margin-left: 5px;
}

.result {
    display: block;
}

.result img {
    width: 10em;
    aspect-ratio: 16 / 9;
    object-fit: contain;
}

.frontContainer {
    max-width: min(95%, 550px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(14.25rem, 100%), 1fr));
    grid-gap: 0.25em;
    place-items: center;
    margin-left: min(2.5%, 2rem);
}

.frontContainer button {
    margin: 2px;
}

.frontContainer::after {
    content: "Please read the instructions.";
    font-weight: bold;
    color: darkcyan;
}

@media (max-width: 850px) {
    .creditBox {
        display: none;
    }
}