img {
    position: relative;
}

.creditBox {
  position: absolute;
  left: 75%;
  min-width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.creditBox a {
    margin-right: 1em;
}

.formStyle {
    position: relative;
    display: grid;
    place-items: center;
}

.setSize {
    width: auto !important;
    position: fixed;
    top: 0;
    left: 5px;
    z-index: 2;
}

.setSize label {
    margin-right: 1em;
}

.addBorder {
    width: auto !important;
    position: fixed;
    left: 0;
}

.generate {
    width: auto !important;
    position: fixed;
    left: 9em;
}

.message {
    width: auto !important;
    position: fixed;
    top: 1em;
    z-index: 2;
}

.vertical {
    top: 5em;
}

.example {
    width: auto !important;
    position: fixed;
    left: 0;
    top: 7em;
}

.instructions {
    width: auto !important;
    position: fixed;
    left: 8em;
    top: 7em;
}

.frontButton {
    z-index: 2;
    margin-left: 5px;
}

.result {
    display: block;
}

.result img {
    width: 10em;
    aspect-ratio: 16 / 9;
    object-fit: contain;
}

@media (max-width: 1500px) {
    .formStyle {
        top: 8em;
    }

    .creditBox {
        display: none;
    }

    .viewWidthTopBreak {
        top: 9em;
    }
}